# Environment variables & secrets
.env
.env.*
!.env.example

# Virtual Environment
venv/
.venv/
env/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# Storage & Uploads
storage/uploads/*
!storage/uploads/.gitkeep
